body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper h1 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 30vh;
}
.wrapper button {
  position: absolute;
  bottom: 30vh;
  background: #f23e02;
  text-transform: uppercase;
  border-radius: 25px;
  border-color: #f23e02;
  padding: 1rem 1.5rem;
}
