* {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    background: url("lol.png") center center no-repeat fixed;
    background-size: cover;
}
.wrapper {
    background: rgba(0,0,0,0.8);
    padding: 20px 0;
}
header {
    padding-top: 20px;
}
form {
    border-radius: 10px;
    max-width: 40%;
    min-width: 550px;
    margin: 20px auto;
    background: rgba(92, 15, 25,0.5);
    margin-bottom: 0;
}
header h1 {
    text-align: center;
    margin-top: 20px;
    background: rgba(0,0,0,0.8)
}
.formgroup {
    padding: 10px 50px;
}
.formgroup:first-child {
    padding-top: 50px;
}
.formgroup:last-child{
    padding-bottom: 20px;
    
}
.formgroup label:not(:last-child) {
    font-size: 1.5rem;
    padding-bottom: 5px;
}
main input[type="text"], input[type="email"], input[type="number"], textarea  {
    width: 100%;
}
main input {
    line-height: 1.5rem;
    
}
main input[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background: #2e2b28;
    font-weight: 700;
    margin-top: 20px;
    color: white;
}
main input[type="button"]:hover {
    background: #0d9106;
}
label {
    display: block;
}
form label:last-child {
    display: inline-block;
}
.checkbox {
    margin: 0;
}
#discord {
    transform: scale(1.2);
    margin-right: 5px;
}
select {
    transform: scale(1.2);
    margin-left: 8px;
}

 